<div class='jumbotron'>
  <center><h1>How Pinteresting</h1>
  <p><%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg" %>
  	<%= link_to "Log in", "#", class:"btn btn-primary btn-lg" %></p></center>
</div>
